body,
ul {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

nav, 
footer {
    font-size:11px;
    background-color: 	#313633 ;
    color: white;
}

nav, 
footer, 
main {
 display: flex;
 justify-content: center;
 align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:inherit
}

main{
    flex:1;
    font-size:30px;
    text-transform: uppercase;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list img {
    display: block;
}

.menu-list li {
    padding: 5px 30px;
    transition: 0.2s ease-in-out;
}

.menu-list li:hover{
    opacity:60%
}