body {
  margin: 0;
  font-size: 20px;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  text-transform: uppercase;
  color: white;
  padding: 25px 25px;
  border: none;
  border-radius: 9px;
  background-color: #1a8cff ;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 0 6px 5px lightgray;
}

.fast {
  animation: fast 1s ease-in-out forwards;
}

.cool:hover {
  animation: cool 1s ease-in-out forwards;
  cursor: pointer;
}

@keyframes fast {
  from {
    transform : translate(50px);
    opacity: 0%;}
  to {transform : translate(0);}
}

@keyframes cool {
  0% {
    transform : scale(1)  rotate(0);
    ;}
  90% {transform : scale(1.3)  rotate(360deg);}
  100% {
    transform : scale(1) rotate(360deg);;
    ;}
}